{{#link-to 'index' tagName='li' href=false class="nav-item"}}
  {{#link-to 'index' class="nav-link"}}Home{{/link-to}}
{{/link-to}}

<li class="nav-item"><a href="#" class="nav-link">About</a></li>
<li class="nav-item dropdown"><a href="#" data-toggle="dropdown" role="button" aria-expanded="false" class="nav-link dropdown-toggle">Services <span class="angle-down s7-angle-down"></span></a>
  <div role="menu" class="dropdown-menu"><a href="#" class="dropdown-item">Information</a><a href="#" class="dropdown-item">Company</a><a href="#" class="dropdown-item">Documentation</a><a href="#" class="dropdown-item">API Settings</a><a href="#" class="dropdown-item">Export Info</a></div>
</li>
<li class="nav-item"><a href="#" class="nav-link">Support</a></li>
