@import "vendor/sass/app";

@font-face {
  font-family: 'Nunito';
  src: url('fonts/Nunito-Regular.ttf') format('truetype');
}

.ember-application .web-loading {
  display: none;
}

.byome-brand {
  height: 8vh !important;
  margin-top: auto;
  margin-bottom: auto;
}

.user-display {
  background-color: #353535;

  .user-display-cover {
    //color: #353535;
    visibility: hidden;

    .server-name {
      color: #fff;
      font-size: 10vh;
      text-align: center;
    }
  }

  .user-display-name {
    text-align: center;
  }

  .user-display-bottom {
    background-color: #fff;
  }
}
