<div class="row">
  <div class="col-md-5">
    {{dashboard/quick-stats}}
  </div>
  <div class="col-md-7">
    <ul class="timeline">
      {{activity-feed activities=model.activities}}
    </ul>
  </div>
</div>
