<div class="container">
    <!-- Mega Menu structure-->
    <nav class="navbar navbar-toggleable-sm">
      <button type="button" data-toggle="collapse" data-target="#mai-navbar-collapse" aria-controls="#mai-navbar-collapse" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler hidden-md-up collapsed">
        <div class="icon-bar"><span></span><span></span><span></span></div>
      </button>
      <div id="mai-navbar-collapse" class="navbar-collapse collapse mai-nav-tabs">

        <ul class="nav navbar-nav">
          {{#link-to 'home' href=false tagName='li' classNames="nav-item parent" activeClass="open"}}
            {{#link-to 'home' href=false tagName='a' class="nav-link"}}
              <span class="icon s7-home"></span>
              <span> Home</span>
            {{/link-to}}
            <ul class="mai-nav-tabs-sub mai-sub-nav nav">
              <li class="nav-item">
                {{#link-to 'home.dashboard' class="nav-link"}}
                  <span class="icon s7-monitor"></span>
                  <span class="name">Dashboard</span>
                {{/link-to}}
              </li>
            </ul>
          {{/link-to}}
        </ul>

        <ul class="nav navbar-nav">
          {{#link-to 'servers' href=false tagName='li' classNames="nav-item parent" activeClass="open"}}
            {{#link-to 'servers' href=false tagName='a' class="nav-link"}}
              <span class="icon s7-server"></span>
              <span> Servers</span>
            {{/link-to}}
            <ul class="mai-nav-tabs-sub mai-sub-nav nav">
              <li class="nav-item">
                {{#link-to 'servers.index' class="nav-link"}}
                  <span class="icon s7-network"></span>
                  <span class="name">Browse</span>
                {{/link-to}}
              </li>
            </ul>
          {{/link-to}}
        </ul>

      </div>
    </nav>
  <!--Search input-->
</div>
