<div id="sidebar"  class="nav-collapse ">
  <!-- sidebar menu start-->
  <ul class="sidebar-menu" id="nav-accordion">

    <li>
      {{#link-to 'dashboard'}}
        <i class="fa fa-home"></i>
        <span>Dashboard</span>
      {{/link-to}}
    </li>

    {{#if (can "index server")}}
      <li>
        {{#link-to 'servers'}}
          <i class="fa fa-tasks"></i>
          <span>Servers</span>
        {{/link-to}}
      </li>
    {{/if}}

    {{#if (can "index product")}}
      <li>
        {{#link-to 'products'}}
          <i class="fa fa-shopping-cart"></i>
          <span>Kits</span>
        {{/link-to}}
      </li>
    {{/if}}

  </ul>
  <!-- sidebar menu end-->
</div>
