<div id="sidebar"  class="nav-collapse ">
  <!-- sidebar menu start-->
  <ul class="sidebar-menu" id="nav-accordion">

    <li>
      {{#link-to 'dashboard'}}
        <i class="fa fa-dashboard"></i>
        <span>Dashboard</span>
      {{/link-to}}
    </li>
    
  </ul>
  <!-- sidebar menu end-->
</div>
