<div id="sidebar"  class="nav-collapse ">
  <!-- sidebar menu start-->
  <ul class="sidebar-menu" id="nav-accordion">

    <li>
      {{#link-to 'dashboard'}}
        <i class="fa fa-home"></i>
        <span>Dashboard</span>
      {{/link-to}}
    </li>

    <li>
      {{#link-to 'servers'}}
        <i class="fa fa-tasks"></i>
        <span>Servers</span>
      {{/link-to}}
    </li>

  </ul>
  <!-- sidebar menu end-->
</div>
