<div class="container">
  {{#link-to 'index' classNames="navbar-brand byome-brand"}}{{/link-to}}
  <!--Left Menu-->
  {{application/top-bar/left-menu}}
  <!--Icons Menu-->
  {{application/top-bar/notifications-menu}}
  <!--User Menu-->
  {{application/top-bar/user-menu}}
</div>
