<div class="sidebar-toggle-box">
  <i class="fa fa-bars"></i>
</div>
<!--logo start-->
{{#link-to 'dashboard' class="logo"}}
  <img src="/assets/byome/favicon/byome-logo.svg" width="30" alt="logo">
  <span>byome</span>
{{/link-to}}
<!--logo end-->

{{application/top-bar/notifications}}

<div class="top-nav ">
  <!--search & user info start-->
  <ul class="nav pull-right top-menu">
    {{application/top-bar/search}}

    {{application/top-bar/user}}

    <li class="sb-toggle-right">
      <i class="fa  fa-align-right"></i>
    </li>
  </ul>
  <!--search & user info end-->
</div>
