<a href="#" data-toggle="dropdown" role="button" aria-expanded="false" class="nav-link dropdown-toggle">
  <span class="icon s7-comment"></span>
</a>
<ul class="dropdown-menu">
  <li>
    <div class="title">Messages</div>
    <div class="mai-scroller">
      <div class="content">
        <ul>
          <li><a href="#">
              <div class="img"><img src="assets/img/avatars/img1.jpg"></div>
              <div class="content"><span class="date">16 Sept</span><span class="name">Victor Jara</span><span class="desc">The song that has been brave, will always be the new song. </span></div></a></li>
          <li><a href="#">
              <div class="img"><img src="assets/img/avatars/img2.jpg"></div>
              <div class="content"><span class="date">4 Sept</span><span class="name">Gustavo Cerati</span><span class="desc">You will see me fly across the city of fury where no one knows of me.</span></div></a></li>
          <li><a href="#">
              <div class="img"><img src="assets/img/avatars/img3.jpg"></div>
              <div class="content"><span class="date">13 Aug</span><span class="name">Jaime Garzón</span><span class="desc">Now everything came back to the abnormality.</span></div></a></li>
          <li><a href="#">
              <div class="img"><img src="assets/img/avatars/img4.jpg"></div>
              <div class="content"><span class="date">13 Aug</span><span class="name">Allen Collins</span><span class="desc">Things just couldn't even be the same 'Cause I'm as free as a bird now.</span></div></a></li>
        </ul>
      </div>
    </div>
    <div class="footer"> <a href="#">View all messages</a></div>
  </li>
</ul>
