<a href="#" data-toggle="dropdown" role="button" aria-expanded="false" class="nav-link dropdown-toggle">
  <span class="icon s7-bell"></span>
  {{#if (can "link account for user" user)}}
    <span class="indicator"></span>
  {{/if}}
</a>
<ul class="dropdown-menu">
  <li>
    <div class="title">Notifications</div>
    <div class="mai-scroller">
      <div class="content">
        <ul>
          {{#if (can "link account for user" user)}}
            <li>
              {{#link-to 'settings.link-account'}}
                <div class="icon">
                  <span class="s7-add-user"></span>
                </div>
                <div class="content">
                  <span class="desc">Link your rust account and get <strong>2 free supply signals</strong></span>
                  <span class="date">{{moment-from-now user.createdAt}}</span>
                </div>
              {{/link-to}}
            </li>
          {{/if}}
        </ul>
      </div>
    </div>
    <!-- <div class="footer"> <a href="#">View all notifications</a></div> -->
  </li>
</ul>
