<a href="javascript:;" data-toggle="dropdown" role="button" aria-expanded="false" class="nav-link dropdown-toggle">
  <span class="icon s7-settings"></span>
</a>
<ul class="dropdown-menu">
  <li>
    <div class="title">Settings</div>
    <div class="content">
      <ul>
        <li><span>Enable Notifications</span>
          <div class="float-right">
            <div class="switch-button switch-button-sm">
              <input type="checkbox" checked="" name="check" id="switch1"><span>
                <label for="switch1"></label></span>
            </div>
          </div>
        </li>
        <li><span>Auto Commit</span>
          <div class="float-right">
            <div class="switch-button switch-button-sm">
              <input type="checkbox" checked="" name="check2" id="switch2"><span>
                <label for="switch2"></label></span>
            </div>
          </div>
        </li>
        <li><span>Sidebar</span>
          <div class="float-right">
            <div class="switch-button switch-button-sm">
              <input type="checkbox" name="check3" id="switch3"><span>
                <label for="switch3"></label></span>
            </div>
          </div>
        </li>
        <li><span>Full-width Layout</span>
          <div class="float-right">
            <div class="switch-button switch-button-sm">
              <input type="checkbox" checked="" name="check4" id="switch4"><span>
                <label for="switch4"></label></span>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </li>
</ul>
