<div class="row">
  <div class="col-sm-12 col-md-10 col-lg-10">

    <!-- Search for a player -->
    <form {{action 'searchPlayers' this on='keyup'}} style="margin-bottom: 10px;">
      {{input value=query class="form-control" placeholder="Search for a player"}}
    </form>
    <!-- / Search -->

    <!-- Results -->
    <div class="row">
      <div class="col-md-12">
        <div class="project-list">
          {{#each model as |player|}}
            {{#if (can "show player" player)}}
              {{player-list-item player=player}}
            {{/if}}
          {{/each}}
        </div>
      </div>
    </div>
    <!-- / Results -->

  </div>
  <div class="col-md-2 col-lg-2">
    <span class="lead">There are <strong>{{totalPlayers}}</strong> total active and inactive players using the Byome ecosystem for Rust.</span>
  </div>
</div>
