<div class="indicator-item">
  <div class="indicator-item-icon">
    <div class="icon"><span class="s7-users"></span></div>
  </div>
  <div class="indicator-item-value"><span data-toggle="counter" data-end="{{onlinePlayersCount}}" class="indicator-value-counter">{{onlinePlayersCount}}</span>
    <div class="indicator-value-title">Online Players</div>
  </div>
</div>

<div class="indicator-item">
  <div class="indicator-item-icon">
    <div class="icon"><span class="s7-hourglass"></span></div>
  </div>
  <div class="indicator-item-value"><span data-toggle="counter" data-end="{{sleepingPlayersCount}}" class="indicator-value-counter">{{sleepingPlayersCount}}</span>
    <div class="indicator-value-title">Sleeping Players</div>
  </div>
</div>
