<div class="indicator-item">
  <div class="indicator-item-icon">
    <div class="icon"><span class="s7-graph1"></span></div>
  </div>
  <div class="indicator-item-value"><span data-toggle="counter" data-end="{{onlinePlayersCount}}" class="indicator-value-counter">0</span>
    <div class="indicator-value-title">Online Players</div>
  </div>
</div>

<div class="indicator-item">
  <div class="indicator-item-icon">
    <div class="icon"><span class="s7-graph"></span></div>
  </div>
  <div class="indicator-item-value"><span data-toggle="counter" data-end="{{sleepingPlayerCount}}" class="indicator-value-counter">0</span>
    <div class="indicator-value-title">Sleeping Players</div>
  </div>
</div>
