{{#each reversedActivities as |activity|}}
  {{activity-feed/item activity=activity}}
{{/each}}
<li class="timeline-item timeline-loadmore"><a href="#" class="btn btn-sm btn-secondary load-more-btn">Load more</a></li>
